@import url("https://fonts.googleapis.com/css?family=Roboto")url("https://fonts.googleapis.com/css?family=Crimson+Pro")url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

body {
	background-color: whitesmoke;
	margin-top: 50px;
	margin-right: 75px;
	margin-bottom: 50px;
	margin-left: 75px;

}

.logo {
	color: black;
	font-family: "Libre Baskerville", serif;
	font-size: 200%;
	font-style: bold;

}

h1, h2 {
	color: black;
	font-family: "Roboto", sans-serif;
	font-style: bold
}

p {
	color: black;
	font-family: "Crimson Pro", serif;
	font-size: 150%;

}
}
.tagline{
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-style: italic;
}
.nav {
	color: black;
	font-family: "roboto", sans-serif;
	font-size: 1em;
	font-style: bold;
}

.search-box {
	width: 800px;
	display: block;
	float: left;
	margin: 70px;
  }
  
  input#search-bar{
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
	&:focus{
	  border: 1px solid #008ABF;
	  transition: 0.35s ease;
	  color: #008ABF;
	  &::-webkit-input-placeholder{
		transition: opacity 0.45s ease; 
		  opacity: 0;
	   }
	  &::-moz-placeholder {
		transition: opacity 0.45s ease; 
		  opacity: 0;
	   }
	  &:-ms-placeholder {
	   transition: opacity 0.45s ease; 
		 opacity: 0;
	   }    
	 }
   }
  
  .search-icon{
	position: relative;
	float: right;
	width: 75px;
	height: 75px;
	top: -62px;
	right: -45px;
  }